<p>
  <mat-toolbar color="primary">
   <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>-->
    <button routerLink="" mat-icon-button class="example-icon favorite-icon" aria-label="Go to home">
      <mat-icon>home</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <button routerLink="admin/addNew" mat-icon-button class="example-icon favorite-icon" aria-label="Go to home">
      <mat-icon>person_add_alt_1</mat-icon>
    </button>
<!--    <a routerLink="admin/addNew" class="mat-icon-no-color">Register new customer</a>-->
    <!--<button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>-->
  </mat-toolbar>
</p>
