@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap-grid.min.css");
.container, .container-fluid {padding: 0;}

html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body, h1, h2, h3, h4, p, img { margin: 0;} /* margin reset*/
h1{font-size: 18pt; font-weight: 500; margin-bottom: 0.5cm;}
h2{font-size: 16pt; font-weight: 500;}
p{font-size: 12pt;}

.items-group {
  border-style: solid;
  border-color: black;
  border-width: 1pt 1pt 1pt 1pt;
  border-radius: 5pt;
  padding: 3pt 3pt 3pt 3pt;
  margin: 9pt 0 9pt 0;
}

.logotipo {
  width: 6cm;
  height: 4cm;
  margin: -0.5cm;
}

.label { font-weight: 500;}

.disclaimer, .address p {
  font-size: 10pt;
}

.signature-field {
  padding-bottom: 24pt;
  border-bottom: solid black 1pt;
}



/*
app-toolbar {
  !* hide the printing component from @media screen *!
  display: none;
}
*/

/*@media print {
  !* invert the display (show/hide) properties of the main *!
  !* aplication component and the printing component       *!

  app-print-registeration {
    display: block;
  }

  app-toolbar {
    display: none;
  }
}*/
